In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
?pd.Series

In [5]:
dates = pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.018573 -2.394753 -0.586274  0.406644
2013-01-02  0.524773  0.649169 -1.213844  0.250448
2013-01-03  0.882927 -0.677383  1.204117 -0.147547
2013-01-04 -1.344404 -0.683769 -0.474524 -1.067524
2013-01-05 -0.675143  0.101047 -0.392944 -0.251695
2013-01-06  1.276918 -2.783453 -0.025642  0.625200